* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Creepster";
  text-decoration: none;
  color: #7a1414;
}
body {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b0d0d;
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a1414;
}

header {
  display: flex;
  min-height: 10vh;
  align-items: center;
  width: 100%;
}
.teamlogo {
  margin-left: 0.5%;
}
.teamlogo img {
  height: 50px;
}
nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.underline {
  width: 60px;
  background-color: #850000;
  height: 5px;
  border-radius: 5px;
}

.fagbot img {
  width: 10vw;
  position: fixed;
  right: 2.5%;
}

.brick img {
  width: 10vw;
  position: fixed;
  left: 2.5%;
}

.box1p {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 50%;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 5rem;
  color: #5b0d0d;
}
h2 {
  font-size: 4em;
  color: #5b0d0d;
}
.box1p .text {
  font-size: 2rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
li {
  gap: 2rem;
  font-size: 1.25rem;
  color: white;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #7a1414;
  margin-top: auto;
  display: flex;
  align-items: end;
}
.container > * {
  color: white;
}
.container {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.container a {
  margin-right: 50%;
}
